.booking-form {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-row {
    width: 60%;
    margin: 0 auto;
}